---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ASTRO QR GENERATE">
  <main>
    <h1>QR GENERATE</h1>
    <div>
      <form id="form">
        <label>
          Link:
        </label>
        <input name="link" placeholder="https://link.example" />
        <button>Click to download</button>
      </form>
    </div>
  </main>
  <script src=""/>
</Layout>

<script>
  const $form = document.querySelector('#form') as HTMLFormElement;
  $form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const formData = new FormData($form);
    const link = formData.get('link') as string;

	const res = await (await fetch(`http://74.208.129.103:3333/?url=${link}`)).json()

	if(!res?.success) {
		console.log('error')
	}

	const $a = document.createElement('a')
	$a.href = res.url
	$a.download = 'qr.png'
	$a.target = '_blank'
	$a.click()
  });
</script>
